/.~lock.Korrektur_Streifen.odt#
/Bericht_v0-5 -hu3.odt
/ConsileOutput fuer SELproION
/LUNTE/panos/GSI_corr.csv (copy).png
/ConsileOutput fuer SELproION.csv
/ConsileOutput fuer SELproION.ods
/DataDir (copy).csv
/DataDir (copy)1.csv
/Untitled Document 1.csv
